.Technology_Info{
    width: 40%;
    color:#fff;
}

.technology_subtitle{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 0.2rem;
    color: #D0D6F9;
    margin-bottom: 0.5rem;
}

.technology_title{
    text-transform: uppercase;
    font-size: 4rem;
    font-family: 'Bellefair', serif;
    font-weight: 400;
}

.technology_text{
    width: 80%;
    color: #D0D6F9;
    line-height: 1.7rem;
}

@media only screen and (max-width: 700px) {
    .Technology_Info{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .technology_title{
        font-size: 2rem;
        padding-bottom: 1.5rem;
    }
    .technology_text{
        text-align: center;
        width: 90%;
    }
}