.Destionation{
    width: 100%;
    height: 100vh;
    background: url('../../../assets/destination/background-destination-desktop.jpg') no-repeat center;
    background-size: cover;
    align-items: center;
    box-sizing: border-box;
    color:#fff;
    display: flex;
    align-items: flex-end;
    padding: 5% 10%;
}

.planet-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
.planet-container h2{
    font-size: 1.7rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 0.5rem;
    align-self: flex-start;
}
.image-planet{
    height: 45vh;
    width: 45vh;
}

.planet-info-container{
    box-sizing: border-box;
    width: 40%;
    padding: 1rem;
}
.planet-info-nav{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    display: flex;
}
.planet-info-link{
    margin-right: 2rem;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    cursor: pointer;
}
.planet-info-link:hover .planet-link-line{
    opacity: 0.5;
}
.planet-link-line{
    position: absolute;
    left: 0;
    bottom: -1rem;
    height: 3px;
    width: 100%;
    background: #fff;
    opacity: 0;
    transition: 1s;
}
.visible{
    opacity: 1;
}

