.Home{
    box-sizing: border-box;
    padding:10% 10% ;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    color: #fff;
    background: url('../../../assets/home/background-home-desktop.jpg') no-repeat center;
    background-size: cover;
    align-items: flex-end;
    overflow: hidden;
}
.home-text-section{
    width: 40%;
    color: #fff;
    z-index: 1;
}
.home-text-section h3{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    color:#D0D6F9;
}

.home-text-section h1{
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    font-size: 10rem;
    font-weight: 400;
}
.home-text-section p{
    color: #D0D6F9;
}

.home-cta{
    padding: 4rem 3rem;
    background: #fff;
    color: #000;
    z-index: 1;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
}